body {
    font-family: 'Consolas', monospace;
    background-color: #1e1e2e;
    color: #cdd6f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    transition: background-color 0.5s ease;
}

.container {
    background-color: #2d2d48;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 100%;
    max-width: 600px;
    border: 1px solid #ffffff;
    font-family: 'Consolas', monospace;
}


@media (min-width: 601px) {
    .site-title {
        display: none;
    }
}

@media (max-width: 600px) {
    .site-title {
        font-size: 40px;
        font-family: 'Consolas', monospace;
    }

    .ascii-art {
        display: none;
    }

    .container {
        padding-top: 30px;
    }
}


h1 {
    margin-bottom: 10px;
    color: #89b4fa;
    text-shadow: 0 0 10px #89b4fa;
    font-size: 14px;
    font-family: 'Consolas', monospace;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

label {
    margin-bottom: 10px;
    font-size: 14px;
}

input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #89b4fa;
    border-radius: 8px;
    background-color: #1e1e2e;
    color: #cdd6f4;
    width: 100%;
    max-width: 300px;
    transition: border-color 0.3s ease;
    font-family: 'Consolas', monospace;
}

input:focus {
    border-color: #89b4fa;
    outline: none;
}

button {
    padding: 10px 20px;
    background-color: #89b4fa;
    color: #1e1e2e;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-family: 'Consolas', monospace;
}

button:hover {
    background-color: #739df2;
    transform: scale(1.05);
}

#loading {
    display: none;
    margin-top: 20px;
    font-weight: bold;
    color: #89b4fa;
    animation: blink 1s step-start 0s infinite;
}

#songName {
    margin-top: 20px;
    font-weight: bold;
    color: #89b4fa;
    text-shadow: 0 0 5px #89b4fa;
    font-size: 1.2em;
}

.results-row {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.result-box {
    background-color: #1e1e2e;
    border: 1px solid #89b4fa;
    padding: 10px;
    border-radius: 8px;
    color: #cdd6f4;
    text-decoration: none;
    width: 100%;
    max-width: 150px;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin: 10px;
}

.result-box:hover {
    background-color: #739df2;
    transform: scale(1.05);
}

.result-box i {
    display: block;
    margin-bottom: 5px;
    font-size: 1.2em;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

#results p {
    color: #ff0000;
    margin-top: 10px;
    width: 100%;
    max-width: 150px;
    text-align: center;
}

.footer-text {
    margin-top: 10px;
    font-size: 10px;
    color: #ffffff;
}

.footer-text a {
    color: #4d85ff;
    text-decoration: underline;
}

.footer-text a:hover {
    color: #8ab5ff;
}


.footer-text a:visited {
    color: #4d85ff;
    text-decoration: underline;
    transition: color 0.3s ease;
}

.footer-text a:hover:visited {
    color: #8ab5ff;
}
