body {
  font-family: "Courier New", Courier, monospace;
  background-image: url("/images/background.png");
  color: #fff;
  padding: 20px;
  margin: 0;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dark-mode {
  background-image: url("/images/background_light.png");
  color: #000;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  margin-top: -10px;
}

.logo {
  font-size: 35px;
  font-family: 'Courier Prime', monospace;
}

.logo button {
  margin-left: 10px;
}

.dark-mode .logo button {
  margin-top: -2px;
}

p {
  font-size: 15.5px;
  margin-bottom: 20px;
  font-family: "DM Mono", monospace;
}

/* button of dark mode */
button {
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
  padding: 10px 20px;
  background-color: #fff;
  color: #000;
  border: 2px solid #000;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #ddd;
}

.main-toggle {
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
  padding: 10px 20px;
  background-color: #fff;
  color: #000;
  border: 2px solid #000;
  border-radius: 8px;
  margin: 0 10px;
  font-family: "DM Mono", monospace;
  transition: background-color 0.3s ease;
}

.main-toggle:hover {
  background-color: #ddd;
}

main {
  text-align: center;
}


main {
  text-align: center;
}

h2 {
  font-size: 35px;
  margin-bottom: 10px;
  font-family: 'Ubuntu Mono', monospace;
}

.links {
  display: flex;
  justify-content: center;
}

.link-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.link-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
}

.link-button {
  padding: 10px 20px;
  font-family: "DM Mono", monospace;
  background-color: #fff;
  font-size: 15.5px;
  color: #000;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  border: 2px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
}

.dark-mode .link-button {
  background-color: #000;
  color: #fff;
}

.dark-mode .link-button:hover {
  background-color: #222222;
}

.link-button i {
  margin-right: 10px;
}

.link-text {
  font-size: 12px;
  margin-top: 5px;
}

.link-button:hover {
  background-color: #ddd;
}

footer {
  font-family: 'DM Mono', monospace;
  position: fixed;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;  
}

.dark-mode button {
  background-color: #000;
  color: #fff;
}

.dark-mode button:hover {
  background-color: #222222;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

header a {
  color: inherit;
  text-decoration: none;
}

header a:hover,
header a:focus {
  color: inherit;
  text-decoration: none;
}


::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

#mou{
  box-shadow: 0px 0px 20px 10px ;
  position: absolute;
}

.link-button.spotify:hover {
  background-color: #1DB954;
  color: white;
}

.link-button.github:hover {
  background-color: #424242;
  color: white;
}

.link-button.steam:hover {
  background-color: #1b2838;
  color: white;
}

.link-button.instagram:hover {
  background-color: #c32aa3;
  color: white;
}

.link-button.youtube:hover {
  background-color: #ff0000;
  color: white;
}

.link-button.discord:hover {
  background-color: #5865F2;
  color: white;
}
